@model FjordNestPro.Models.ApplicationUser

@{
    ViewData["Title"] = "Details";
}

@section Styles {
    <style>
        h1 {
            color: #333;
            font-size: 2em;
        }

        h4 {
            color: #555;
            font-size: 1.5em;
            margin-top: 20px;
        }

        dl.row {
            border: 1px solid #e5e5e5;
            padding: 10px;
            border-radius: 5px;
        }

        dt.col-sm-2 {
            font-weight: bold;
            color: #666;
        }

        dd.col-sm-10 {
            margin-bottom: 10px;
        }

        div {
            margin-top: 20px;
        }
    </style>
}

<h1>User</h1>

<div>
    <h4>Detail</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bookings)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Bookings != null)
            {
                foreach (var booking in Model.Bookings)
                {
                    <div>
                        <a asp-controller="Booking" asp-action="Details" asp-route-id="@booking.BookingID">
                            @booking.BookingID (@booking.CheckInDate)
                        </a>
                    </div>
                }
            }
            else
            {
                <div>No bookings available.</div>
            }
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Properties)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Properties != null)
            {
                foreach (var property in Model.Properties)
                {
                    <div>
                        <a asp-controller="Property" asp-action="Details" asp-route-id="@property.PropertyID">
                            @property.Title (@property.PropertyID)
                        </a>
                    </div>
                }
            }
            else
            {
                <div>No properties available.</div>
            }
        </dd>

    </dl>
</div>
<div>
    <a asp-area="Admin" asp-controller="User" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-area="Admin" asp-controller="User" asp-action="Index">Back to List</a>
</div>
