@using Microsoft.AspNetCore.Identity
@using FjordNestPro.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<FjordNestPro.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<div id="tabletextstyle" >
    <h1>Bookings</h1>
    
</div>

<p>
    <a asp-action="Create" id="tabletextstyle">Make new bookings</a>
</p>
<div class="card">
    <table class="table" id="tabletextstyle">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckInDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOutDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

            @if (item.User.Id == @UserManager.GetUserId(User))
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Property.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckInDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOutDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookingID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookingID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookingID">Delete</a>
            </td>
        </tr>
}   }
    </tbody>
</table>
    
</div>
<p>
    <a asp-area="Identity" asp-page="/Account/Manage/Index" id="tabletextstyle">Back to Account</a>
</p>